@model BMotionReporting.Models.PagedList<BMotionReporting.Entity.sp_UserPengguna_Result>
@{
    ViewBag.Title = "Data Pengguna BBM";
}
<link href="~/Content/CSS/Users.css" rel="stylesheet" />
<h1><strong style="font-family:Arial">Daftar Pengguna BBM</strong></h1>
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" style="margin:10px">
        <p><i class="fa fa-warning"></i> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" style="margin:10px">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row" style="margin:10px">
            <div class="col-lg-12" align="right">
                <a data-toggle="tooltip" title="Pengguna Baru" href="@Url.Action("Create", "Users")" class="btn btn-primary">PENGGUNA BARU</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Daftar Pengguna</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="example1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("No")
                            </th>
                            <th>
                                @Html.DisplayName("NIP")
                            </th>
                            <th>
                                @Html.DisplayName("Nama")
                            </th>
                            <th>
                                @Html.DisplayName("Phone")
                            </th>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("Verify")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Content.Count; i++)
            {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => Model.Content[i].NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].NIP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].Email)
                                </td>
                                <td class="text-center">
                                    @if (Model.Content[i].Verify != "Unverified")
                                    {
                                        <span class="label bg-green label-background">
                                            @Html.DisplayFor(modelItem => Model.Content[i].Verify)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="label bg-danger label-background">
                                            @Html.DisplayFor(modelItem => Model.Content[i].Verify)
                                        </span>
                                    }
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("Detail", "Users", new { id= Model.Content[i].NIP, })" tooltip="Detail" >
                                        <i class="fa fa-fw fa-th-list"></i>
                                    </a>
                                    <a style="cursor:pointer" id="btnShow_@Model.Content[i].NIP" onclick="ShowCard('@Model.Content[i].NIP')">
                                        <i class="fa fa-fw fa-credit-card"></i>
                                    </a>
                                    <div class="modal fade" tabindex="-1" id="modalShow_@Model.Content[i].NIP"
                                         data-keyboard="false" data-backdrop="static">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="printDiv_@Model.Content[i].NIP">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <table style="width:90mm;border:1px solid black;">
                                                                        <tr>
                                                                            <td colspan="3" class="text-right" style="padding:1rem;"><img src="~/Assets/Logo.png" style="width:100px;" /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="4" style="padding:1rem;width:20mm;"><div id="qrcode_@Model.Content[i].NIP"></div></td>
                                                                            <td style="text-align:left;padding:1rem;">
                                                                                NIP
                                                                            </td>
                                                                            <td style="width:100%; text-align:left;padding:1rem;">
                                                                                <label>@Model.Content[i].NIP</label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align:left;padding:1rem;">
                                                                                Nama
                                                                            </td>

                                                                            <td style="width:100%; text-align:left;padding:1rem;">
                                                                                <label>@Model.Content[i].Name</label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align:left;padding:1rem;">
                                                                                Email
                                                                            </td>

                                                                            <td style="width:100%; text-align:left;padding:1rem;">
                                                                                <label>@Model.Content[i].Email</label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="text-align:left;padding:1rem;">
                                                                                Hp
                                                                            </td>

                                                                            <td style="width:100%; text-align:left;padding:1rem;">
                                                                                <label> @Model.Content[i].Phone</label>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="btnPrint_@Model.Content[i].NIP" class="btn btn-primary button button4"
                                                                onclick="printDiv(printDiv_@Model.Content[i].NIP)">
                                                            Cetak
                                                        </button>
                                                    @*@Html.ActionLink("Cetak", "NewPrintCards", "Users", new { nip = Model.Content[i].NIP }, new { target = "_blank", @class = "btn btn-primary button button4" })*@
                                                    <button type="button" id="btnHide_@Model.Content[i].NIP" class="btn btn-default button button4"
                                                            onclick="HideModal(@Model.Content[i].NIP)">
                                                        Tutup
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function printDiv(elem) {

       
        var _data = $('<div/>').append($(elem).clone()).html();
        //console.log($('<div/>').append($(elem).clone()).html());
        renderMe(_data);
    }

    function renderMe(data) {
        console.log("masuk");
        var mywindow = window.open('', 'Kartu Pengguna', 'height=370,width=550');
        mywindow.document.write('<html><head><title>Struk Pengambilan BBM</title>');
        mywindow.document.write('<link href="Content/AdminLTE/adminlte.min.css" rel="stylesheet" />');
        mywindow.document.write('<link href="Content/bootstrap.min.css" rel="stylesheet" />');
        mywindow.document.write('<style>.divCode img{position: relative;left: 50%;transform: translateX(-25%);}</style>');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');


        setTimeout(function () {
            mywindow.print();
            //mywindow.close();
        }, 1000)
        return true;
    }


    $(function () {
        //$('#example1').DataTable({
        //    "responsive": true,
        //    "autoWidth": false
        //});
    });
    function ShowModal(idx) {
        $("#modalShow_" + idx).modal('show');
    }

    function HideModal(idx) {
        $("#modalShow_" + idx).modal('hide');
    }

    //function PrintModal(id) {
    //    var headstr = "<html><head><title></title></head><body>";
    //    var footstr = "</body>";
    //    var newstr = document.all.item("printDiv_" + id).innerHTML;
    //    var oldstr = document.body.innerHTML;
    //    document.body.innerHTML = headstr + newstr + footstr;
    //    window.print();
    //    document.body.innerHTML = oldstr;
    //    return false;
    //}

    function ShowCard(id) {
        document.getElementById("qrcode_" + id).innerHTML = "";
        var qrcode = new QRCode("qrcode_" + id);
        qrcode.makeCode(id);

        ShowModal(id);
    }

</script>