@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CSS/home.css" rel="stylesheet" />
<h1>My BBM Dashboard</h1>
<div class="row">
    <div class="col-md-3 box-dashboard">
        <div class="box-fuel">
            <h5 class="title">Pengeluaran</h5>
            <h4 class="fuel">Premium</h4>
            <h3 class="liter">1.425 <span>ltr</span></h3>
        </div>
    </div>
    <div class="col-md-3 box-dashboard">
        <div class="box-fuel">
            <h5 class="title">Pengeluaran</h5>
            <h4 class="fuel">Pertamax</h4>
            <h3 class="liter">1.425 <span>ltr</span></h3>
        </div>
    </div>
    <div class="col-md-3 box-dashboard">
        <div class="box-fuel">
            <h5 class="title">Pengeluaran</h5>
            <h4 class="fuel">Pertalite</h4>
            <h3 class="liter">1.425 <span>ltr</span></h3>
        </div>
    </div>
    <div class="col-md-3 box-dashboard">
        <div class="box-fuel">
            <h5 class="title">Pengeluaran</h5>
            <h4 class="fuel">Bio Solar</h4>
            <h3 class="liter">1.425 <span>ltr</span></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 box-dashboard">
        <div class="box-fuel">
            <h4 class="fuel pull-left">Daftar Pengguna</h4>
            <a class="pull-right">+ Pengguna Baru</a>
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("No")
                        </th>
                        <th>
                            @Html.DisplayName("NIP")
                        </th>
                        <th>
                            @Html.DisplayName("Nama")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td class="text-center">
                            [No]
                        </td>
                        <td>
                            [NIP
                        </td>
                        <td>
                            [Name]
                        </td>
                        <td>
                            [Phone]
                        </td>
                        <td>
                            [Email
                        </td>       
                    </tr>
                    <tr>
                        <td class="text-center">
                            [No]
                        </td>
                        <td>
                            [NIP
                        </td>
                        <td>
                            [Name]
                        </td>
                        <td>
                            [Phone]
                        </td>
                        <td>
                            [Email
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            [No]
                        </td>
                        <td>
                            [NIP
                        </td>
                        <td>
                            [Name]
                        </td>
                        <td>
                            [Phone]
                        </td>
                        <td>
                            [Email
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            [No]
                        </td>
                        <td>
                            [NIP
                        </td>
                        <td>
                            [Name]
                        </td>
                        <td>
                            [Phone]
                        </td>
                        <td>
                            [Email
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            [No]
                        </td>
                        <td>
                            [NIP
                        </td>
                        <td>
                            [Name]
                        </td>
                        <td>
                            [Phone]
                        </td>
                        <td>
                            [Email
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="jumbotron">
    
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
            <div class="small-box" style="background-color:white;height:100%">
                <div class="inner">
                    <h6 style="color:black;font-size:15px">Pengeluaran</h6>
                    <div class="bg-warning" style="width:50%;" align="center"><strong>PREMIUM</strong></div>
                </div>
                <div align="right" style="margin:10px"><strong style="font-size:32px">124.000</strong><small style="font-size:20px;"> Ltr </small></div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-2 col-sm-2 col-md-2">
            <div class="small-box" style="background-color:white;height:100%">
                <div class="inner">
                    <h6 style="color:black;font-size:15px">Pengeluaran</h6>
                    <div style="width:50%;border:solid;" align="center"><strong style="color:lightgreen">PERTALITE</strong></div>
                </div>
                <div align="right" style="margin:10px"><strong style="font-size:32px">124.000</strong><small style="font-size:20px;"> Ltr </small></div>
            </div>
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-2 col-sm-2 col-md-2">
            <div class="small-box" style="background-color:aqua;height:100%">
                <div class="inner">
                    <h6 style="color:black;font-size:15px">Pengeluaran</h6>
                    <div style="width:50%;background-color:blue" align="center"><strong style="color:white">PERTAMAX</strong></div>
                </div>
                <div align="right" style="margin:10px"><strong style="font-size:32px">124.000</strong><small style="font-size:20px;"> Ltr </small></div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-2 col-sm-2 col-md-2">
            <div class="small-box" style="background-color:greenyellow;height:100%">
                <div class="inner">
                    <h6 style="color:black;font-size:15px">Pengeluaran</h6>
                    <div style="width:50%;background-color:lightgreen" align="center"><strong>BIO SOLAR</strong></div>
                </div>
                <div align="right" style="margin:10px"><strong style="font-size:32px">124.000</strong><small style="font-size:20px;"> Ltr </small></div>
            </div>
        </div>
        <!-- /.col -->

        <!-- /.col -->
        <div class="col-4 col-sm-4 col-md-4">
            <div class="info-box" style="height:100%">
                <span>
                    <img src="~/Assets/icon_notifikasi.png" width="100" height="100" />
                </span>

                <div class="info-box-content">
                    <span class="info-box-text"><small>Notifikasi</small></span>
                    <span class="info-box-number">
                        <strong>Pengguna baru</strong>
                    </span>
                    <span class="info-box-number">
                        <strong style="color:green">+2 dua jam yang lalu</strong>
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>
