@model BMotionReporting.Models.HomeModels
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CSS/home.css" rel="stylesheet" />
<link href="~/Content/CSS/Users.css" rel="stylesheet" />
<h1>My BBM Dashboard</h1>
<div class="row">
    @for (int i = 0; i < Model.Fuel.Count; i++)
    {
        <div class="col-md-3 box-dashboard">
            <div class="box-fuel">
                <h6 class="title">Pengeluaran</h6>
                <h4 class="fuel">@Model.Fuel[i].Name</h4>
                <h3 class="liter">@Model.Fuel[i].Total.Replace(",",".") <span>ltr</span></h3>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-8 box-dashboard">
        <div class="box-fuel">
            <h4 class="fuel pull-left">Daftar Pengguna</h4>
            <a class="pull-right label bg-primary label-background"  style="font-weight:bold" href="@Url.Action("Create", "Users")">+ Pengguna Baru</a>
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("No")
                        </th>
                        <th>
                            @Html.DisplayName("NIP")
                        </th>
                        <th>
                            @Html.DisplayName("Nama")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.UserPengguna.Count; i++)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => Model.UserPengguna[i].NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserPengguna[i].NIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserPengguna[i].Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserPengguna[i].Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserPengguna[i].Email)
                            </td>
                            <td class="text-center">
                                @if (Model.UserPengguna[i].Verify != "Unverified")
                                {
                                    <span class="label bg-green label-background">
                                        @Html.DisplayFor(modelItem => Model.UserPengguna[i].Verify)
                                    </span>
                                }
                                else
                                {
                                    <span class="label bg-danger label-background">
                                        @Html.DisplayFor(modelItem => Model.UserPengguna[i].Verify)
                                    </span>
                                }
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Detail", "Users", new { id= Model.UserPengguna[i].NIP, })" tooltip="Detail">
                                    <i class="fa fa-fw fa-th-list"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 box-dashboard">
        <div class="box-fuel">
            <table>
                <tr>
                    <td>
                        <img src="~/Assets/icon_pengambilan_bbm.png" />
                    </td>
                    <td>
                        <h3><a class="pull-right label bg-primary label-background" style="font-weight:bold" href="@Url.Action("Index", "Orders")">+ Scan QR Code</a></h3>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-fuel" style="margin-top:1rem;">
            <h4 class="fuel">Pengumuman</h4>
            <p class="text-justify">
                @Model.Pengumuman.Title
            </p>
        </div>
    </div>
</div>
